ollama/
weaviate/venvweaviate/
weaviate/testweaviate.py
weaviate/.env
whisper/2022-2023_ALF_EduardoMartinezGracia_online/
whisper/2022-2023_ALF_EduardoMartinezGracia_pizarra/
whisper/__pycache__/
whisper/venvwhisper/
